*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}


canvas{
	border: 2px dotted black;
}


#myCanvas1{
	display: block;
}

button{
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 50%;
	outline: none;
	margin: 10px;
	display: block;

}

#redBut{
	background: red;

}

#greenBut{
	background: green;

}

